@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";
// Components
@import "components/footer.scss";
@import "components/video.scss";
@import "components/shared.scss";
@import "components/forms.scss";
@import "components/social-login.scss";
@import "components/header.scss";
// Screens
@import "screens/home.scss";
@import "screens/profile.scss";
@import "screens/edit-profile.scss";
@import "screens/search.scss";
@import "screens/upload.scss";
//Defaults
h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 60px;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: $bg;
}
main{
    max-width :1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 130px;
}