.profile__data{
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    img{
        margin-bottom: 20px;
    }
    h3{
        font-size: 20px;
        font-weight: 600;
    }
}
.edit-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .user-profile-img{
        margin-bottom: 40px;
    }
}