extends base
block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="text", required, name="username" placeholder="username")
        input(type="password", required, name="password", placeholder="password")
        input(type="submit", value="Login")
    hr
    div
        span Don't have an account?   
        a(href="/join") Join now &rarr;