extends base.pug
block content
    div.upload__container
        div.upload__video
            video#preview
            button#actionBtn.social__btn Start Recording
        if errorMessage
            span=errorMessage
        form(method="POST" enctype="multipart/form-data").upload-form
            label(for="video") Video File
            input(type="file" accept="video/*" name="video" id="video" required).default-input
            label(for="thumb") Thumbnail File
            input(type="file" accept="image/*" name="thumb" id="thumb" required).default-input
            input(placeholder="Title", required, type="text", name="title", maxlength=40).default-input
            input(placeholder="Description", type="text", name="description" required).default-input
            input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags").default-input
            input(type="submit", value="Upload Video").default-input
block scripts
    script(src="/static/js/recorder.js")