extends ../base

block content
    h4 Change Password
    form(method="POST").user-form
        input(placeholder="Old Password" type="password" name="oldPassword").default-input
        input(placeholder="New Password" type="password" name="newPassword").default-input
        input(placeholder="New Password Confirmation" type="password" name="newPasswordConfirm").default-input
        input(value="Change Password", type="submit").default-input