extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST").user-form
        input(type="text", required, name="username" placeholder="username").default-input
        input(type="password", required, name="password", placeholder="password").default-input
        input(type="submit", value="Login").default-input
        include ../partials/social-login.pug
    div.auth-switch
        span Don't have an account?   
        a(href="/join") Join now &rarr;